
  
  
  .container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--secundary-color);
    border-radius: 0.5em;
  }
  h1 {
    color: #5e66cb;
    margin-top: 0;
    font-size: 5rem;
     
   
  }

  h2{
    color:#5e66cb;
    border-bottom: 3px solid #ffffff;
  }
  
  .gallery {
    display: grid;
    margin: 3em 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1em;
    grid-auto-flow: dense;
  }
  
  figure {
    display: flex;
    margin: 0;
  }
  
 figure img {

    flex: 1;
    max-width: 100%;
    object-fit: cover;
     border-radius: 5px;
    transition: all 1.5s ease;

  }
  figure img:hover {
    box-shadow: 0 0 32px #5e66cb;
  }

  
  
  