html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--primary-color);
}

section {
justify-content: center;

}


@keyframes scroll {
 0% {
   transform: translateX(0);
 }
 100% {
   transform: translateX(calc(-250px * 7));
 }
}

.fav {
 margin-left: -60px;
 margin-bottom: 40px;
 overflow: hidden;
 margin-top: 30px;
}

.favwear {
 animation: scroll 50s linear infinite;
 display: grid;
 grid-template-columns: 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5%;
 grid-gap: 10%;
 grid-auto-rows: 300px;
 align-items: center;
 margin-top: -20px;
 margin-bottom: 50px;
}

.favrow {
 width: 600px;
 height: 370px;
 position: relative;
 border-radius: 50px;
}

.favrow img:hover {

 box-shadow: 0 0 30px 0.5px var(--tenth-color);
}

.favrow img {
  object-fit: cover;
 width: 530px;
 height: 350px;
 border-radius: 5%;
 transition: all 0.4s ease;
 -webkit-box-shadow: 29px 32px 28px -25px rgba(0,0,0,0.56);
-moz-box-shadow: 29px 32px 28px -25px rgba(0,0,0,0.56);
box-shadow: 29px 32px 28px -25px rgba(0,0,0,0.56);
}

.caption {
  color: white;
  padding: 80px;
}


.Section_top{
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  animation: change 30s infinite ease-in-out;
  object-fit: cover;
  display: flex;
    align-items: center;
    margin-top: 65px;
}

.Section_top h1{
  margin-top: 10px;
  color: var(--tenth-color);
}

.Section_top p{
  margin-bottom: 10px;
color: var(--sixth-color);
font-size: 17px;
}

.content_carusel{
  position: absolute;

  filter: blur(0px);
  padding: 20px 80px;
  border-radius: 15px 50px;
  background-color: var(--primary-color-opacity);
  
  
  

}
.carusel_top{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 55vh;
  font-family: sans-serif;
  margin-bottom: -27px;
}

@keyframes change{
  0%
  {
      background-image: url(../../img/Special/home/prima1.jpg);
  }
  20%
  {
      background-image: url(../../img/Special/home/prima2.jpg);
  }
  40%
  {
      background-image: url(../../img/Special/home/prima3.jpg);
  }
  60%
  {
      background-image: url(../../img/Special/home/prima4.jpg);
  }
  80%
  {
      background-image: url(../../img/Special/home/prima5.jpg);
  }
  100%
  {
      background-image: url(../../img/Special/home/prima6.jpg);
  }
}


@media (max-width:1450px) {
  .favrow {
  width: 450px;

  }
  .favrow img{
    width: 450px;

  }
  }


  @media (max-width:1350px) {
    .favrow {
    width: 400px;
  
    }
    .favrow img{
      width: 400px;
  
    }
    }

    @media (max-width:1200px) {
      .favrow {
      width: 300px;
    height: 300px;
      }
      .favrow img{
        width: 370px;
        height: 300px;
      }
      }

      @media (max-width:1090px) {
        .favrow {
        width: 400px;
      height: 350px;
        }
        .favrow img{
          width: 400px;
          height: 350px;
        }
       .fav {
        margin-left: -300px;
       }
        }

        @media (max-width:950px) {
          .favrow {
          width: 550px;
        height: 450px;
          }
          .favrow img{
            width: 550px;
            height: 450px;
          }
         .fav {
          margin-left: -1000px;
          margin-top: 50px;
         }
         .favwear{
          grid-auto-rows: 400px;
         }
          }


          @media (max-width:720px) {
            .favrow {
            width: 650px;
          height: 450px;
            }
            .favrow img{
              width: 650px;
              height: 450px;
            }
           .fav {
            margin-left: -1500px;
           }

            }

            @media (max-width:500px) {
              .favrow {
              width: 600px;
            height: 400px;
              }
              .favrow img{
                width: 600px;
                height: 400px;
              }
             .fav {
              margin-left: -1500px;
              margin-top: 10px;
              margin-bottom: -50px;
             }
             .favwear{
              grid-auto-rows: 600px;
             }
  
              }
  



@media (max-width:898px) {
 .favrow {
 max-width: 50px;
 }
 }

@media (max-width:690px) {
.favrow{
max-width: 500px;
}
.Back, .forward{
   margin-top: -40px;
}
}

@media (max-width:500px) {
   .favrow{
   max-width: 390px;
   }
   }
   @media (max-width:390px) {
       .favrow{
       max-width: 300px;
       }
       .Back, .forward{
           font-size: 20px;
          
           
       }
       }

@-webkit-keyframes fade {
 from {opacity: .5}
 to {opacity: 2}
}

@keyframes fade {
 from {opacity: .5}
 to {opacity: 2}
}




.eye{
  position: none;
}


.custom{
  background-color: var(--forth-color);
  padding: 5px 15px;
  position: fixed;
  top: 24vh;
  left: 92%;
  padding-right: 40px;
  z-index: 999;
  font-size: 17px;
  border-radius: 15px 2px 0px 15px;
  filter: drop-shadow(-3px 0px 10px #646262);
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.custom:hover{
  background-color: #d0c5b1;  
  filter: drop-shadow(-3px 0px 15px #646262);
  transition: 200ms ease-in-out;
}

.toggleContainer-style button{
  background: rgb(225 207 173 / 80%);
  border: none;
  padding: 5px;
  border-radius: 15px 3px 3px 15px;
  text-align: right;
  border: 1px black solid;
  margin: 2px;
  color: var(--sixth-color);
  transition: 200ms ease-in-out;
}

.toggleContainer-style button:hover{
  background: rgb(251 231 193 / 80%);
  transition: 200ms ease-in-out;
  border: 1.5px black solid;
}

body {
  transition: all 0.3s ease;
}

.toggleButton-2{
  background: none;
  border: none;
  color: white;
  transition: 200ms ease-in-out;
}


.colorblind-mode {
  filter:grayscale(1);
  transition: 200ms ease-in-out;
}

.vibrant-mode {
  filter: contrast(115%) saturate(115%);
  transition: 200ms ease-in-out;
}

.no-resize {
  font-size: inherit !important;
}

#toggleContainer-2 {
text-align: right;
transition: 200ms ease-in-out;
}

#toggleContainer-2 button {
text-align: right;
transition: 200ms ease-in-out;
}

@media (max-width:1273px) {
  .custom{
  padding-right: 47px;
  left: 89%;
}

}
@media (max-width:1077px) {
  .custom{
  left: 87%;
}
}
@media (max-width:1077px) {
  .custom{
  left: 85%;
}
}
@media (max-width:825px) {
  .custom{
  left: 84%;
}
}
@media (max-width:753px) {
  .custom{
  left: 82%;
}
}
@media (max-width:695px) {
  .custom{
  left: 80%;
}
}
@media (max-width:604px) {
  .custom{
  left: 78%;
}
}
@media (max-width:545px) {
  .custom{
  left: 75%;
}
}
@media (max-width:476px) {
  .custom{
  left: 72%;
}
}
@media (max-width:431px) {
  .custom{
  left: 69%;
}
}
@media (max-width:376px) {
  .custom{
  left: 65%;
}
}


