html {
  scroll-behavior: smooth;
}

body{
  background-color: #EBD8FD;
}

section {
justify-content: center;
 padding-top: 5%;
}


@keyframes scroll {
 0% {
   transform: translateX(0);
 }
 100% {
   transform: translateX(calc(-250px * 7));
 }
}

.fav {
 margin-left: -60px;
 margin-bottom: 40px;
 overflow: hidden;
 margin-top: 30px;
}

.favwear {
 animation: scroll 50s linear infinite;
 display: grid;
 grid-template-columns: 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5%;
 grid-gap: 10%;
 grid-auto-rows: 300px;
 align-items: center;
 margin-top: -20px;
 margin-bottom: 50px;
}

.favrow {
 width: 600px;
 height: 370px;
 position: relative;
 border-radius: 50px;
}

.favrow img:hover {

 box-shadow: 0 0 30px 0.5px #5e66cb;
}

.favrow img {
 width: 530px;
 height: 350px;
 border-radius: 5%;
 transition: all 0.4s ease;
}

@media (max-width:1450px) {
  .favrow {
  width: 450px;

  }
  .favrow img{
    width: 450px;

  }
  }


  @media (max-width:1350px) {
    .favrow {
    width: 400px;
  
    }
    .favrow img{
      width: 400px;
  
    }
    }

    @media (max-width:1200px) {
      .favrow {
      width: 300px;
    height: 300px;
      }
      .favrow img{
        width: 370px;
        height: 300px;
      }
      }

      @media (max-width:1090px) {
        .favrow {
        width: 400px;
      height: 350px;
        }
        .favrow img{
          width: 400px;
          height: 350px;
        }
       .fav {
        margin-left: -300px;
       }
        }

        @media (max-width:950px) {
          .favrow {
          width: 550px;
        height: 450px;
          }
          .favrow img{
            width: 550px;
            height: 450px;
          }
         .fav {
          margin-left: -1000px;
          margin-top: 50px;
         }
         .favwear{
          grid-auto-rows: 400px;
         }
          }


          @media (max-width:720px) {
            .favrow {
            width: 650px;
          height: 450px;
            }
            .favrow img{
              width: 650px;
              height: 450px;
            }
           .fav {
            margin-left: -1500px;
           }

            }

            @media (max-width:500px) {
              .favrow {
              width: 600px;
            height: 400px;
              }
              .favrow img{
                width: 600px;
                height: 400px;
              }
             .fav {
              margin-left: -1500px;
              margin-top: 10px;
              margin-bottom: -50px;
             }
             .favwear{
              grid-auto-rows: 600px;
             }
  
              }
  



@media (max-width:898px) {
 .favrow {
 max-width: 50px;
 }
 }

@media (max-width:690px) {
.favrow{
max-width: 500px;
}
.Back, .forward{
   margin-top: -40px;
}
}

@media (max-width:500px) {
   .favrow{
   max-width: 390px;
   }
   }
   @media (max-width:390px) {
       .favrow{
       max-width: 300px;
       }
       .Back, .forward{
           font-size: 20px;
          
           
       }
       }

@-webkit-keyframes fade {
 from {opacity: .5}
 to {opacity: 2}
}

@keyframes fade {
 from {opacity: .5}
 to {opacity: 2}
}